:host{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F7F6F7;

}

mat-drawer{
  width: 270px;
  background-color: #333333;
  padding: 10px;

}

mat-drawer-container{
  height: 100%;
}
