.top-header{
  height: 300px;
}
.welcome{
line-height: 55px;
  font-size: 45px;
  width: 60%;
  border-radius: 10px;
}
table {
  width: 90%;
  padding: 10px;
}
.card{
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn-main{
background-color: #ED1A3B;
color: white;
}
.icon-image{
  width: 40%;
}
.btn-text{
  color: #ED1A3B;
  text-decoration: none;
}
.btn-text:hover{
  color: #ED1A3B;
  text-decoration: none;
}

.btn-icon{
  width: 90%;
  height: 50px;
  color: #ED1A3B;
}

