
<div class="container">
<div class="top-header">
  <p class="font-weight-bold welcome">Hi, welcome to your <br> <strong>Global Portal</strong> Admin Tool</p>
  <p><a class="btn btn-main btn-lg" routerLink="/home" role="button">How to use the application</a></p>
</div>
<div class="container">
  <div class="row">
  <div class="card" style="width: 18rem;">
    <div class="card-body col-sm">
      <img src="../../assets/images/BDO_REMCO_KPA_LIBRARY_LEADERSHIP_LOGO.png" class="icon-image">
      <h1 class="card-title"><strong>Client Portal</strong></h1>
      <p class="card-text">A list of all BDO Client Portals</p>
      <a routerLink="/clientportal" class="btn btn-main">View Portals</a>
      <p class="card-text"></p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body col-sm">
      <img src="../../assets/images/BDO_REMCO_KPA_LIBRARY_BUSINESSSERVICESANDOUTSOURCING_LOGO.png" class="icon-image">
      <h1 class="card-title"><strong>Multiple Projects</strong></h1>
      <p class="card-text">Add user to one or multiple projects</p>
      <a routerLink="/projects" class="btn btn-main">View All Projects</a>
      <p class="card-text"></p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body col-sm">
      <img src="../../assets/images/BDO_REMCO_KPA_LIBRARY_BUSINESSSERVICESANDOUTSOURCING_LOGO.png" class="icon-image">
      <h1 class="card-title"><strong>Client Engagement</strong></h1>
      <p class="card-text">BDO Client Portals with other names</p>
      <a routerLink="/home" class="btn btn-main">View Portals</a>
      <p class="card-text"></p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body col-sm">
      <img src="../../assets/images/BDO_PARTNERS_EVALUATION_LOGO.png" class="icon-image">
      <h1 class="card-title"><strong>Power BI Reports</strong></h1>
      <p class="card-text">client portal Power BI Report</p>
      <a routerLink="/dashboard" class="btn btn-main">View Portals</a>
      <p class="card-text"></p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body col-sm">
      <img src="../../assets/images/BDO_REMCO_REVIEW_SCORECARD_LOGO.png" class="icon-image">
      <h1 class="card-title"><strong>Adobe Sign</strong></h1>
      <p class="card-text">Sign Requied Documents</p>
      <a routerLink="/home" class="btn btn-main">View Portals</a>
      <p class="card-text"></p>
    </div>
  </div>
  </div>

</div>


</div>
